---
layout: splash
author_profile: false
title: "I AM PASSIONATE ABOUT PATIENT AND FAMILY CENTERED CARE."
#layout: splash
#permalink: /splash-page/
modified: 2016-11-23
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
#  overlay_image: /assets/images/unsplash-image-1.jpg
#  cta_label: "Download"
#  cta_url: "https://github.com/mmistakes/minimal-mistakes/"
#  caption: "Photo credit: [**Unsplash**](https://unsplash.com)"
excerpt: "I am Jennifer Gallivan – a health consultant based in Edmonton, Alberta."
intro: 
  - excerpt: 'I specialize in **strategic planning - project management and implementation, research and health communications** and have specific experience in health promotion, injury prevention, child health and patient engagement. I have successfully managed programs and events from conception to completion; and, been involved in revamping and evaluating existing programs for enhanced results. I can provide a full range of planning, research and communications services with the foundation of patient and family centred care principles.'
feature_row:
  - excerpt: "This is some sample content that goes here with **Markdown** formatting."

---

{% include feature_row id="intro" type="center" %}

<i class="fa fa-puzzle-piece"></i> 
{% include feature_row %}
